<div class="modal fade" id="modal-wnd">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h4><%= obj.title %></h4>
    </div>
    <div id="modal-body" class="modal-body form-horizontal">
        <% for(var key in obj.fields) { %>
            <div id="control-group-<%= key %>" class="control-group">
                <label for="<%= key %>" class="control-label"><%= obj.fields[key].label %></label>
                <div class="controls">
                    <input type="text" name="<%= key %>" value="<%= obj.fields[key].data %>"/>
                    <span id="help-inline-<%= key %>" class="help-inline"></span>
                </div>
            </div>
        <% } %>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-small btn-success save-modal">
            <i class="icon-ok icon-white"></i> Save
        </button>
        <a class="btn btn-small btn-primary close-modal">Cancel</a>
    </div>
</div>