<tr class="company-contacts-block">
    <td colspan='7'>
        <div class="company-contacts">
            <table id="contacts-grid" class="table table-bordered table-condensed <% if(obj == 0){ %>hidden<% }%>">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Phone_number</th>
                        <th>Options</th>
                    </tr>
                </thead>
            </table>
            <div id="contact-message" class="alert alert-info <% if(obj != 0){ %>hidden<% }%>">
                There are no available contacts for this company yet.
            </div>
            <div class="content-right">
                <a id="create-new-contact-btn" class="btn btn-small" type="button" data-toggle="modal">
                    <i class="icon-plus-sign"></i> Create New Contact
                </a>
            </div>
        </div>
    </td>
</tr>