extends layout
block append head
  script(src="/javascripts/models/contact.js")
  script(src="/javascripts/views/contact.js")
  script(src="/javascripts/app.js")
  script(id="contactTemplate", type="text/template")
    div
      p data from model with default values
      ul
        li <b>name:</b> <%= name %>
        li <b>position:</b> <%= position %>
        li <b>phone number:</b> <%= phoneNumber %>

    
block content
  body
    h1 test Contact View
    div