extends layout
block append head
  script(src="/js/models/contact.js")
  script(src="/js/views/contact.js")
  script(src="/js/models/company.js")
  script(src="/js/views/company.js")
  script(src="/js/collections/companies.js")
  script(src="/js/views/companies.js")
  script(src="/js/utils.js")
  script(src="/js/app.js")
   
block content
  body
    h1 test Contact View
    table#companies.table.table-striped.table-bordered.table-condensed
      thead
        tr
          th name
          th street
          th number
          th city
          th zipcode
          th website
          th phone