!!! 5
html
  block head
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src='/js/vendor/jquery.min.js')
    script(src='/js/vendor/underscore-min.js')
    script(src='/js/vendor/backbone-min.js')
    script(src='/js/vendor/bootstrap.min.js')
    title test single pagge app
  body
    block content