!!! 5
html
  block head
    link(rel="stylesheet", type="text/css", href='/css/bootstrap.min.css')
    link(rel="stylesheet", type="text/css", href='/css/style.css')
    script(src='/js/vendor/jquery.min.js')
    script(src='/js/vendor/underscore-min.js')
    script(src='/js/vendor/backbone-min.js')
    script(src='/js/vendor/backbone-validation-min.js')
    script(src='/js/vendor/bootstrap.min.js')
    title test single pagge app
  body
    block content