extends layout
block append head
block content
    body
        h1 test Contact View
            p data from model with default values
            div
                a#test-modal.btn(href="/popupwnd", type="button", data-toggle="modal", data-target="#modal") Add Image