div.modal.fade
    div.modal-header
        a.close(data-dismiss="modal") &times;
        h3 Modal Header
    div.modal-body
        p Test Modal
    div.modal-footer
        a.btn(href="#", data-dismiss="modal") Close
        a.btn.btn-primary(href="#") Save Changes