extends layout
block append head
    script(type='text/javascript')
        $(document).ready(function() {
            // Support for AJAX loaded modal window.
            // Focuses on first input textbox after it loads the window.
            $('[data-toggle="modal"]').click(function(e) {
                e.preventDefault();
                var url = "/" + $(this).attr('href');
                if (url.indexOf('#') == 0) {
                    $(url).modal('open');
                } else {
                    $.get(url, function(data) {
                        $("body").append(data);
                    }).success(function() {
                        $("#modal-wnd").modal("show");
                        $("#modal-wnd").css({'margin-top': - Math.round($("#modal-wnd").height()/2)});
                        $(".close, .modal-backdrop").click(function(){
                            e.preventDefault();
                            $('#modal-wnd').modal("hide");
                            $("#modal-wnd").remove();
                        });
                    });
                }
            });
        });
block content
    body
        h1 Popup
        p data
        p data
        p data
        p data

        div
            a#test-modal.btn(href="popupwnd", type="button", data-toggle="modal") Popup
