.hidden{display: none}
.modal{width: 630px;}
.modal label{width: 160px;}
.modal label:after{ content: " : ";}
.company-contacts{padding: 7px;}
.company-contacts .table {margin-bottom: 7px;}
.add-company-place-holder{margin-bottom: 7px;}
.content-right{text-align: right;}
.content-center{text-align: center;}
.company-option{width:110px}
.contact-option{width:73px}