/* presentative classes*/
.hidden{display: none}


/* adjusts/resets */
#modal-wnd h4,
#modal-wnd form{margin: 0}

.pagination{height: 0;margin: 0;}
.pagination ul > li > a{line-height: 23px;}


#companies{width: 980px}
#modal-wnd{width: 250px}


form {margin: 0px;}
.modal{width: 630px;}
.modal label{width: 160px;}
.modal label:after{ content: " : "}